.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  z-index: 3;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 580px;
  padding: 8px;

  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-icon-position {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.close-icon-position .button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000;
  background-color: white;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: $title-text-color;

  margin-top: 2px;
  margin-bottom: 12px;
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  color: $title-text-color;

  &:last-child {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.form-label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: $primary-text-color;
}

.form-label.checkbox {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $primary-text-color;
}

.form-field .icon {
  position: absolute;
  top: 45%;
  left: 12px;

  display: inline-block;
  fill: currentColor;
}

.person {
  width: 18px;
  height: 18px;
}

.phone {
  width: 18px;
  height: 18px;
}

.email {
  width: 18px;
  height: 18px;
}

.terms-link {
  text-decoration: underline;
  color: $accent-color;
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: outline-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:active {
    outline-color: $accent-color;
  }

  &:focus ~ .icon {
    color: $accent-color;
  }
}

.form-input-comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: outline-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:active {
    outline-color: $accent-color;
  }
}

.form-field.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.terms {
  position: relative;
  margin-left: 20px;

  &::after {
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 4px;
    background-color: white;

    position: absolute;
    top: 4px;
    left: -20px;

    transition-property: border-color, background-color, background-image;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-checkbox:checked + .terms::after {
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url(../images/checkmark.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.form .button {
  color: white;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  min-width: 200px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: #188ce8;
  }
}
