$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$selector-bg-color: #f5f4fa;
$project-border: #eeeeee;

$main-font-family: Roboto, sans-serif;
$logo-font-family: Raleway, sans-serif;
